<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="content">
	<div class="chat-container">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="card small">
	                <div class="card-header">
	                    <i class="fa fa-comments"></i> Chat
	                </div>
	                <div class="card-body">
			            <form id="usernameForm">
			            	<div class="form-group">
							    <label for="name">Enter your username</label>
							    <input type="text" class="form-control btn-sm name" id="name" placeholder="Username">
							    <small id="chat help" class="form-text text-muted">Need any help ? start chatting.</small>
							</div>
			                <div class="form-group">
			                    <button type="submit" class="btn btn-primary btn-sm username-submit">Start Chatting</button>
			                </div>
			            </form>
				        <div id="chat">
		                    <ul class="chat hidden">
	
		                    </ul>
		                 </div>
	                </div>
	                <div class="card-footer">
	                    <form id="messageForm" class="row hidden">
						    <input type="text" class="form-control btn-sm col-sm-9" id="message" placeholder="Type your message here ..">&nbsp;
						    <button type="submit" class="btn btn-primary btn-sm col-sm-2" id="btn-chat">Send</button>
						</form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</th:block>
</html>