<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="content">
	<div id="chat-container">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="card small">
	                <div class="card-header clickable">
	                    <i class="fa fa-comments"></i> Chat 
	                    <i class="fa fa-caret-down fa-1x mt-1 pull-right"></i>
	                </div>
	                <div class="card-body hidden">
			            <form id="usernameForm">
			            	<div class="form-group">
							    <label for="name">Tapez votre Prénom </label>
							    <input type="text" class="form-control btn-sm name" id="name" placeholder="Prénom">
							    <small id="chat help" class="form-text text-muted">Besoin d'aide ? demander vos questions</small>
							</div>
			                <div class="form-group">
			                    <button type="submit" class="btn btn-primary btn-sm username-submit">Commencer le chat</button>
			                </div>
			            </form>
				        <div id="chat">
		                    <ul class="chat hidden">
	
		                    </ul>
		                 </div>
	                </div>
	                <div class="card-footer hidden">
	                    <form id="messageForm" class="row hidden">
						    <input type="text" class="form-control btn-sm col-sm-9 mr-2" id="message" placeholder="Type your message here ..">
						    <button type="submit" class="btn btn-primary btn-sm" id="btn-chat">Envoyer</button>
						</form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</th:block>
</html>