<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="content">
	<th:block th:each="message : ${messages}" th:with="isBot=${message.sender == 'Smart Admin'}">
		<li th:class="|${ isBot ? 'left' : 'right' } clearfix|">
		    <span th:class="|chat-img pull-${ isBot ? 'left' : 'right' } text-${ isBot ? 'warning' : 'primary' }|">
		        <i th:class="|fa fa-circle fa-3x ${ isBot ? 'mr-3' : '' }|"></i>
		    </span>
		    <div class="chat-body clearfix">
		        <div class="header">
		            <strong th:class="|${ isBot ? '' : 'pull-right' } primary-font|" th:text="${message.sender}"></strong> 
		            <span th:class="|${ isBot ? 'pull-right' : '' } text-muted smaller|"><i class="fa fa-clock-o"></i>
		            	<span class="relative-time" th:attr="data-time=${message.time}"></span>
		            </span>
		        </div>
		        <p th:utext="${#strings.replace(#strings.escapeJava(message.content),'\n', '&lt;br /&gt;')}" ></p>
		    </div>
		</li>
	</th:block>
	<div id="suggestions">
		<th:block th:each="suggestion : ${suggestions}">
			<button type="button" class="btn btn-sm btn-outline-primary suggestion smaller mb-1" th:text="${suggestion}"></button>
		</th:block>
	</div>
</th:block>
</html>