<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="content">
	<div id="departmentInfoWidget" class="card mb-3">
		<div class="card-header">
			<i class="fa fa-info"></i>&nbsp; Informations Departement
		</div>
		<div class="list-group list-group-flush small">
			<a class="list-group-item list-group-item-action" href="#">
				<span class="badge badge-primary mr-5">Région</span>
				<span id="region" th:text="${department.department}"></span>
			</a> 
			<a class="list-group-item list-group-item-action" href="#">
				<span class="badge badge-success mr-5">Population</span>
					<th:block th:text="${department.population}"/> h
			</a> 
			<a class="list-group-item list-group-item-action" href="#">
				<span class="badge badge-secondary mr-5">Superficie</span>
				   <th:block th:text="${department.superficie}"/> km2
			</a> 
			<a class="list-group-item list-group-item-action" href="#">
				<span class="badge badge-warning mr-5">Densite</span>
				   <th:block th:text="${department.densite}"/>/km2
			</a>
		</div>
	</div>
	
</th:block>
