<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 </head>
 <body>
 
 <th:block th:fragment="content (document)">
		<div id="document-container" class="col-lg-3" th:attr="data-document-id=${document.id}">
	    	<div class="card mb-4">
	    		<div>
					<a class="btn btn-default btn-delete fa fa-trash-o pull-right"></a>
				</div>
	            <div class="card-body">
	                <div class="centered-text">
				  		<img src="/images/logo.png" width="48" alt="Smart admin">
				    </div>
					<div class="centered-text">
						<small th:text="${document.physicalFile.fileName}"></small>
					</div>
		        </div>
	        </div> 
		</div>
	</th:block>    
</body>
</html>
