<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 </head>
 <body>
 
	<th:block th:fragment="content">
		<div id="documentModal" class="modal-uca hidden">
	
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<div class="panel panel-default"> 
					<div class="panel-heading">
			       		<div class="row">
			                 <div class="col-lg-11">
			                    <span class="title">
		                        	<i class="fa fa-files-o fa-fw"></i>
		                        	<th:block th:text="#{common.new}"></th:block>
									<th:block th:text="#{common.archive}"></th:block>
			                    </span>
			                 </div>
			       		</div>
					</div>				
					<div class="panel-body">
						<div class="col-lg-12">
						    <form id="action-form" name="fileAction" action="#" class="form-horizontal margin20px" method="POST" enctype="multipart/form-data">
						    	<div class="form-group modal-row">
						    		<label for="physicalFile" class="col-sm-2 control-label"><th:block th:text="#{common.document}"></th:block></label>
						    		<div class="input col-sm-7">
						    			<input id="physicalFile" type="file" name="physicalFile" class="form-control filestyle" th:attr="data-buttonText=#{common.chooseFile}" data-iconName="glyphicon glyphicon-inbox" accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf,.txt">
						    		</div>
						    	</div>
						    </form>
					   	</div>
					</div>
					<div th:class="panel-footer container">
						<div class="pull-right"> 
							<button type="button" th:class="btn btn-default btn-cancel"><th:block th:text="#{ common.cancel }"></button>
							<button type="button" class="btn btn-primary btn-save"><th:block th:text="#{ common.save }"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
</body>
</html>