<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 </head>
 <body>
	<th:block th:fragment="content">
		<div id="documentModal" class="modal-uca hidden">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="card"> 
					<div class="card-header">
			       		<div class="row">
			                 <div class="col-lg-12">
			                    <span class="title">
		                        	<i class="fa fa-folder-open fa-fw"></i>
		                        	Nouveau document
			                    </span>
					    		<span class="close pull-right">×</span>
			                 </div>
			       		</div>
					</div>				
					<div class="card-body">
					    <form id="action-form" name="fileAction" action="#" method="POST" class="col-md-10" enctype="multipart/form-data">
					    	<div class="col-md-10 offset-md-1">
					    		<div class="form-group">
						    		<label class="custom-file">
										<input id="physicalFile" type="file" name="physicalFile" th:attr="data-buttonText=#{common.chooseFile}" required accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf,.txt">
										<span class="custom-file-control"></span>
									</label>
						    	</div>
					    	</div>
					    	<div class="btn-group btn-group-toggle" data-toggle="buttons" th:with="documentTypes=${T(org.smart.admin.model.DocumentType).values()}">
								<label th:each="type : ${documentTypes}" class="btn btn-outline-primary btn-sm smaller">
									<input type="radio" name="documentType" th:value="${type.name()}" autocomplete="off">
									<th:block th:text="#{enum.document.type.__${type.name()}__}"/>
								</label>
							</div>
					    </form>
					</div>
					<div class="card-footer container">
						<div class="pull-right"> 
							<button type="button" class="btn btn-default btn-sm btn-cancel"><th:block th:text="#{ common.cancel }"></button>
							<button type="button" class="btn btn-primary btn-sm btn-save"><th:block th:text="#{ common.save }"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>
