<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{desktop-layout}">
        
<head lang="en">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
 
	<div id="documents-container" class="panel panel-default" layout:fragment="desktop-page-content"> 
		<div class="panel-heading container">
	        <span class="title">
	        	<i class="fa fa-file-pdf-o fa-fw"></i> 
				Mon Dossier
	        </span>
	  		<a id="newDocument" class="btn btn-default btn-add pull-right">
	  			<i class="fa fa-plus fa-fw"></i>
	  			<th:block th:text="#{common.new}"/>
	  		</a>
	  	</div> 
	  	<div class="panel-body">
<!-- 		  	<th:block th:each="document : ${documents}"> -->
<!-- 				<th:block th:include="~{modules/widget/documentWidget::content (${template})}"></th:block> -->
<!-- 			</th:block> -->
	    </div>
	</div>

	<th:block layout:fragment="modals"> 	
		<th:block th:include="~{modules/widget/newDocumentModal::content}">
		</th:block>
	</th:block>

	<th:block layout:fragment="js-import"> 	
		<script th:src="@{/js/dossier.js}" ></script> 
		<script th:inline="javascript"> 
		</script>
	</th:block>
	
</body>
</html>