<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{desktop-layout}">

<th:block layout:fragment="desktop-page-content">

	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
		<li class="breadcrumb-item active">Carte</li>
	</ol>
	<div class="row">
		<div class="col-lg-8">
			<!-- France Map-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-map"></i>&nbsp; Choisissez votre région
				</div>
				<div class="card-body">
					<div class="row">
						<div id="francemap" style="width: 700px; height: 600px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<th:block th:include="~{widget/departmentInfoWidget}"/>
			<th:block th:include="~{widget/communesWidget}"/>
		</div>
	</div>
</th:block>

<th:block layout:fragment="js-import">
	<script src="js/index.js" type="text/javascript"></script>
	<script src="js/map/jquery.vmap.js" type="text/javascript"></script>
	<script src="js/map/jquery.vmap.france.js" type="text/javascript"></script>
	<script src="js/map/jquery.vmap.colorsFrance.js" type="text/javascript"></script>
</th:block>

</html>
