// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

.error , .has-error {
	color: red
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.badge {
	font-size: 92% !important;
	line-height: 1.5 !important;
	font-weight: 600 !important;
	width: 80px;
}

.modal-uca {
	position: fixed;
	z-index: 99999;
	padding-top: 5%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		border: 1px solid #888;
		width: fit-content;
		min-width: 37%;
		max-width: 55%;
	}

	.close {
		float: right;
		font-weight: bold;
	}

	.close:hover , .close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}